#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
#    wilfredo:sesamo  
  expire: False

users:
  - name: wilfredoalvarez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC5Jjz7qHyZu47+XxicVIaZirRt/XliXvtgzDEn4KC2FfYx/Ie8HvXEEkU1oWago7Rh6wzyxka0J/y5XY2Z5EBuFGzX3JvgJi+8bCciK+2V7VyA16xQXBJ0TMsS+HPVcXhdGbIiLeo4VMaP6de2YCzseTGOB7xlB7Rwir3Y0zitUhJ+OoZqDzzsjVy8HPwl1GmLAkEsW7LvteRvrISXUjzpbsJAKbJZV2pN6OF5W6uyM2adNZ1iz1+BU3CEbPK8YR+cEGQZLc686sla7iz/73BZPDLogCYH9YACj/baiGRAxGBC/7UDsr/eeW/xzbgCYrmnUpUOWfmjQBiVSG6uVoWL wilfredo@wilfredo-HP-Pavilion-15-Notebook-PC
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
